.clock-hours-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .clock-hours {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
  }
}
